.invoice-overview {
  border-top: 1px solid #4c4340;
  border-bottom: 1px solid #362e2c;
  padding: 25px;
  color: #b1aeae;
  .font-size(12);
  .table {
    margin-bottom: 0;
    td {
      border-top: none;
      padding: 4px 0px;
    }
    .align-right {
      text-align: right;
    }
  }
}
.table-pagination {
	padding: 20px;
	border-top: 1px solid @border-color;
  .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: @baseLineHeight;
    padding: 4px 5px 4px 0;
    font-weight: normal;
    line-height: @baseLineHeight;
    text-align: center;
    text-shadow: 0 1px 0 @white;
    vertical-align: middle;
  }
  .page-counter {
    text-align: right;
  }
}
.relative {
	.inline-block();
	position: relative;
}
.page-counter {
	.input-group {
		.inline-block;
		.form-control {
			.inline-block;
			width: 40px;
		}
	}
}
.table {
  thead {
    background: @white;
    border-top: 1px solid @border-color;
    th {
      padding: 10px 0;
    }
  }
  .payout-num, .id-num {
    font-weight: 700;
  }
}
.table-filter {
  margin: 20px 0;
  .input-daterange {
    .form-control {
      width: 120px;
      padding-right: 20px;
      background: @white url('@{imgUrl}/main-sprite.png') no-repeat right -671px;
      .inline-block();
      cursor: pointer;
    }
  }
  .search {
    background: @white url('@{imgUrl}/main-sprite.png') no-repeat right -707px;
  }
}
.overview-info {
  margin-bottom: 20px;
  .o-col {
    background: @brown2;
    color: @white;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #524946;
    border-left: 1px solid #362e2c;
    .user-select();
    &:first-child {
      border-radius: 4px 0 0 4px;

    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      background: @brown;
    }
    span {
      display: block;
    }
    .o-value {
      .font-size(24);
      font-weight: 700;
      padding-top: 20px;
    }
    .o-title {
      .font-size(12);
      color: #b1aeae;
      padding-bottom: 20px;
    }
  }
}
