.table-pagination {
	padding: 20px;
	border-top: 1px solid @border-color;
}
.relative {
	.inline-block();
	position: relative;
}
.page-counter {
	.input-group {
		.inline-block;
		.form-control {
			.inline-block;
			width: 40px;
		}
	}
}