.spr {
	background: url('@{imgUrl}/main-sprite.png') no-repeat 0 0;
	&.logo {
		background-position: 0 0;
    width: 146px;
    height: 94px;
    display: block;
    margin: 60px auto 40px;
    .text-hide();
	}
	&.login-logo {
		border-radius: 4px;
		background-position: 0 -545px;
		width: 161px;
		height: 105px;
		display: block;
		margin: 40px auto;
		.text-hide();
	}
	&.edit {
		background-position: 0 -166px;
		width: 16px;
		height: 16px;
	}
	&.search {
		background-position: 0 -193px;
		width: 18px;
		height: 17px;
	}
	&.docs {
		background-position: 0 -222px;
		width: 13px;
		height: 17px;
	}
	&.user {
		background-position: 0 -100px;
		width: 15px;
		height: 16px;
	}
	&.lock {
		background-position: 0 -128px;
		width: 15px;
		height: 15px;
	}
}